@model LocationApp.Data.Dto.UserDto
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @Html.Partial("/Views/Shared/Partials/DataTable/_Css.cshtml")
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Kullanıcı Ekleme</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <p>Kullanıcı oluşturmak için adım adım bilgileri dolurarak tamamlayabilirsiniz.</p>
                        <span class="section">Kullanıcı Bilgileri</span>
                        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {

                            @Html.HiddenFor(model => model.UserID)
                            @Html.HiddenFor(model => model.Email)
                            @Html.HiddenFor(model => model.Password)
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Ünvan <span class="required">*</span>
                            </label>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.UserTitleID, new SelectList(ViewBag.UserTitle, "UserTitleID", "TitleName", 0), new { @class = "form-control", @onchancge = "dropValidation();" })
                                </div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal1"><i class="fa fa-plus"></i></button>
                            </div>
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Departman: <span class="required">*</span>
                            </label>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.Departments, "DepartmentID", "Name", 0), new { @class = "form-control", @onchancge = "dropValidation();" })
                                </div>
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal2"><i class="fa fa-plus"></i></button>
                            </div>
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Rol: <span class="required">*</span>
                            </label>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.UserRoleID, new SelectList(ViewBag.Roles, "UserRoleID", "UserRoleName", 0), new { @class = "form-control", @onchancge = "dropValidation();" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Cinsiyet <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(LocationApp.Core.Enum.Enums.Gender)), 0), "Lütfen seçiniz", new { @class = "form-control col-md-7 col-xs-12", @required = "required", @onchange = "dropValidation();" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    TC NO <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.NationID, new { @class = "form-control col-md-7 col-xs-12", @onkeypress = "return isNumberKey(event)", @maxlength = "11" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Ad <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-7 col-xs-12", @onkeypress = "return isNumericKey(event)" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Soyad <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.SurName, new { @class = "form-control col-md-7 col-xs-12", @onkeypress = "return isNumericKey(event)" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    E-Mail <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a href="/User/List" type="button" class="btn btn-primary pull-right">Listeye Dön</a>
                                    <button type="submit" class="btn btn-success pull-right" name="save">Kaydet</button>
                                </div>
                            </div>
                        }
                        <div class="success">
                            @Html.Raw(ViewBag.Message)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Ünvan modal-->
<div class="modal fade bs-example-modal-sm" id="modal1" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Yeni Ünvan</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputsm">Ünvan Adı:</label>
                    @Html.TextBox("MainUnitName", "", new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="AddMainUnit()">Ekle</button>
            </div>

        </div>
    </div>
</div>
<!--Ünvan modal-->
<!--Departman modal-->
<div class="modal fade bs-example-modal-sm" id="modal2" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Yeni Departman :</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputsm">Ana Birim</label>
                    @Html.DropDownList("MainUnitID", new SelectList(ViewBag.MainUnits, "MainUnitID", "Name", 0), new { @class = "form-control input-sm" })
                </div>
                <div class="form-group">
                    <label for="inputsm">Alt Birim</label>
                    @Html.DropDownList("SubUnitID", new SelectList(ViewBag.SubUnits, "SubUnitID", "Name", 0), new { @class = "form-control input-sm" })
                </div>
                <div class="form-group">
                    <label for="inputsm">Departman Adı:</label>
                    @Html.TextBox("DepartmentName", "", new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="AddDepartment()">Ekle</button>
            </div>

        </div>
    </div>
</div>
<!--Departman modal-->

@section Scripts{
    @Html.Partial("/Views/Shared/Partials/DataTable/_Js.cshtml")
    <!-- Custom Validation Scripts -->
    <script src="~/Content/Other/İnputController.js"></script>
    <script>
        $(document).ready(function () {
            $('#UserTitleID').select2();
            $('#UserRoleID').select2();
            $('#DepartmentID').select2();

            var gender = $("#Gender").val();
            var title = $("#UserTitleID").val();
            var dep = $("#UserDepartmentID").val();
            var role = $("#UserRoleID").val();
            if (gender != 0 && title != 0 && dep != 0 && role != 0) {
                $("button[name=save]").prop('disabled', false);
            }
            else {
                $("button[name=save]").prop('disabled', true);
            }

        });
        function dropValidation() {
            var gender = $("#Gender").val();
            var title = $("#UserTitleID").val();
            var dep = $("#UserDepartmentID").val();
            var role = $("#UserRoleID").val();

            if (gender != 0 && title != 0 && dep != 0 && role != 0) {
                $("button[name=save]").prop('disabled', false);
            }
            else {
                $("button[name=save]").prop('disabled', true);
            }
        }
    </script>
    <script type="text/javascript">
        $("div.success").fadeIn(100).delay(1500).fadeOut(400);
        $("#MainUnitID").change(function () {
            var mainUnitID = $(this).val();
            $("#SubUnitID").empty();
            if (mainUnitID > 0) {
                $.ajax({
                    url: '/Department/GetSubUnit',
                    type: "GET",
                    dataType: "json",
                    data: { mainUnitID: mainUnitID },
                    success: function (data) {
                        if (data != null) {
                            $.each(data, function () {
                                $('#SubUnitID').append('<option value=' + this.SubUnitID + '>' + this.Name + '</option>');
                            });
                        } else {
                            $('#SubUnitID').append('<option value="0">Seçiniz</option>');
                        }
                    }
                });
            } else {
                $('#SubUnitID').append('<option value="0">Seçiniz</option>');
            }
        });
    </script>
    <!-- MainUnit Scripts -->
    <script type="text/javascript">
        function AddMainUnit() {
            var mUnitName = $("#MainUnitName").val();
            $.ajax({
                url: '/User/AddUserTitle',
                type: "POST",
                dataType: "json",
                data: { name: mUnitName },
                success: function (result) {
                    if (result.Result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
    <!-- Department Scripts -->
    <script type="text/javascript">
        function AddDepartment() {
            var subUnitID = $("#SubUnitID").val();
            var name = $("#DepartmentName").val()
            $.ajax({
                url: '/User/AddDepartment',
                type: "POST",
                dataType: "json",
                data: { subUnitID: subUnitID, name: name },
                success: function (result) {
                    if (result.Result) {
                        location.reload();
                    }
                }
            });
        }
    </script>
}
