@model LocationApp.Data.Dto.UserPasswordDto
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    @Html.Partial("/Views/Shared/Partials/DataTable/_Css.cshtml")
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Parola İşlemleri</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <span class="section">Parola</span>
                        @using (Html.BeginForm("Password", "User", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.HiddenFor(model => model.UserID)
                            @Html.HiddenFor(model => model.UserPasswordID)

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Şifre <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control col-md-7 col-xs-12" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a href="/User/List" type="button" class="btn btn-primary pull-right">Listeye Dön</a>
                                    <button type="submit" name="save" class="btn btn-success pull-right">Kaydet</button>
                                </div>
                            </div>
                        }
                        <div class="success">
                            @Html.Raw(ViewBag.Message)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>
    @Html.Partial("/Views/Shared/Partials/DataTable/_Js.cshtml")
    <script>$("div.success").fadeIn(100).delay(1500).fadeOut(400);</script>
}